extends layout

block content
  link(rel='stylesheet', href='/stylesheets/index.css')
  div(class='container') 
    header(class='header-title') My 배민
    nav
      img(class='nav-banner' src='/images/banner.png')
    main
      section(class='section-login')
        a(class= 'login-btn' href="/signIn")
          img(class='login-userIcon' src='/images/user.png')
          div(class='login-title') 로그인 해주세요
          img(class='login-direction' src='/images/left.svg')
      section(class='section-menu')
        div(class='menu-item')
          img(src='/images/point.png')
          span 포인트
        div(class='menu-item')
          img(src='/images/coupon.png')
          span 쿠폰함
        div(class='menu-item')
          img(src='/images/present.png')
          span 선물함
        div(class='menu-item')
          img(src='/images/cart.png')
          span 찜
        div(class='menu-item')
          img(src='/images/order.png')
          span 주문내역
        div(class='menu-item')
          img(src='/images/review.png')
          span 리뷰관리
      section(class='section-event')
        img(class='event-rootIcon' src='/images/root.png')
        div(class='event-title') 일회용품 덜 쓰기, 함께해요!
        img(class='event-direction' src='/images/left.svg')
      section(class='section-more')
        div(class='more-item')
          div(class='more-title') 배민페이 등록
          div(class='more-info') 배민페이로 결제하면 최대 5.5% 배민포인트가 적립됩니다!
          img(class='more-direction' src='/images/left.svg')
        div(class='more-item')
          div(class='more-title') 가족계정관리
          div(class='more-info') 결제수단을 공유해 우리 가족의 끼니를챙겨주세요.
          img(class='more-direction' src='/images/left.svg')
        div(class='more-item')
          div(class='more-title') 공지사항
          img(class='more-direction' src='/images/left.svg')
        div(class='more-item')
          div(class='item-container')
          div(class='more-title') 배민커넥트 지원
          img(class='more-direction' src='/images/left.svg')

