extends layout

block content
  link(rel='stylesheet', href='/stylesheets/signIn.css')

  container.signIn-container
    header
      a.close-btn-wrapper(href='/')
        button.close-btn
          img(src='/images/x.svg')
