extends ../layout

block content
  link(rel='stylesheet', href='/stylesheets/signUp/account.css')

  container.account-container
    h1 안녕

  script(src='/javascripts/signUpAccount.js', type='module')
