extends ../layout

block content
  link(rel='stylesheet', href='/stylesheets/signUp.css')

  container.signUp-container
    header
      a.close-btn-wrapper(href='/')
        button.close-btn
          img(src='/images/x.svg')
      h2.header-title 회원가입
