extends ../layout

block content
  link(rel='stylesheet', href='/stylesheets/signUp/phone.css')

  container.phone-container 
    header
      div
        a(href='/signUp')
          img.backIcon(src='/images/back.png')
      div
        h2.header-title 회원가입
      div
        button.next-btn.disabled(disabled) 다음
