header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.backIcon {
  width: 20px;
}

.header-title {
  text-align: center;
  font-weight: 700;
  font-size: 16px;
}

.next-btn {
  background-color: transparent;
  border: 0;
  font-size: 16px;
}
